.sidebar {
  width: 17.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__close {
    display: none;
    width: 0;
  }

  &__user {
    background-color: #1d2f68;
    height: 9.8125rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.125rem;

    &_text {
      color: #57d6bc;
      font-size: 0.875rem;
    }

    &_title {
      color: #57d6bc;
      font-size: 1.125rem;
    }

    &_img {
      width: 4.375rem;
      height: 4.375rem;
      position: relative;
      object-fit: cover;
      bottom: -1.875rem;
      border-radius: 50%;
    }

    &-icon {
      position: relative;
      top: -1.875rem;
      left: 6.25rem;
      font-size: 1.25rem;
      color: #9db8d1;
      cursor: pointer;
    }
  }

  &__menu {
    margin: 0.625rem;
    border-top: 0.075rem solid #9db8d1;
    border-bottom: 0.075rem solid #9db8d1;
    &_title {
      margin-top: 4.375rem;
      font-size: 0.875rem;
      color: #9db8d1;
      padding-left: 0.625rem;
    }
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__item {
    color: #1d2f68;
    height: 2.4375rem;
    margin: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.125rem;
    border-radius: 0.375rem;
    margin-bottom: none;

    &:hover {
      background-color: #dae3ff;
    }
    &_active {
      background-color: #dae3ff;
    }
  }

  &__alert {
    font-size: 0.6875rem;
    background-color: #ffeded;
    color: #ff4c4c;
    margin: 0.5rem;
  }

  &__storage {
    display: flex;
    color: #1d2f68;
    margin: 1.25rem;
    align-items: center;
    cursor: pointer;

    &_text {
      font-size: 0.875rem;
      padding-left: 0.25rem;
    }
  }
  &__progressbar {
    height: 0.5rem;
    margin-left: 1.25rem;
    margin-right: 2.5rem;
    border-radius: 0.25rem;
    background-color: #cdfff2;

    &_content {
      height: 0.5rem;
      width: 40%;
      border-radius: 4px;
      background-color: #5feec8;
      position: relative;
    }

    &_info {
      margin: 1.25rem;
      font-size: 0.75rem;
      font-weight: 300;
      color: #1d2f68;
    }
  }

  &__button {
    width: 75%;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 1.25rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 0.0625rem solid #1d2f68;
    font-weight: 600;
    color: #1d2f68;
    cursor: pointer;
  }

  &__cont {
    border-top: 0.0625rem solid #9db8d1;
    position: relative;
    justify-self: flex-end;
    &_help {
      margin-top: 0.625rem;
      display: flex;
      margin-left: 1.25rem;
      gap: 0.3125rem;
      font-size: 0.75rem;
      color: #1d2f68;
    }
  }

  &__tooles {
    margin: 1.25rem;
    display: flex;
    color: #1d2f68;

    &_text {
      font-size: 0.625rem;
      margin-right: 0.125rem;
      color: #9db8d1;
    }

    &_title {
      font-size: 0.75rem;
      margin-right: 0.25rem;
      font-weight: 600;
    }
  }
  @media (max-width: 1024px) {
    &__user-icon {
      position: relative;
      top: -1.25rem;
      left: 5rem;
      font-size: 1.25rem;
      color: #9db8d1;
      cursor: pointer;
    }
  }
  @media (max-width: 764px) {
    width: 100vw;
    &__user-icon {
      position: relative;
      top: -1.25rem;
      left: 9.375rem;
      font-size: 1.875rem;
      color: #9db8d1;
      cursor: pointer;
    }
  }
}
