@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400,2,300&display=swap");

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

// @import "./components/header/Header.scss";
@import "./layouts/ToolesLayout.scss";
@import "./views/tooles/Tooles.scss";

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
}

// reusable classes

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.h-screen {
  height: 100vh;
}

.text-white {
  color: white;
}

.pointer {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.text-base {
  font-size: 0.9375rem;
}
